* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #8AA8DB;
  overflow: scroll; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

span {
  font-size: 30px; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv, .insertion .insertion-block, .skyengapp, .skyengapp .skyengapp-block, .insertion {
  display: flex;
  justify-content: center;
  align-items: center; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile__image, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop__image, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv__image, .insertion .insertion-block .insertion-block__image {
  display: block;
  width: 50px;
  padding: 20px 0; }
  @media (min-width: 1000px) {
    .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile__image, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop__image, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv__image, .insertion .insertion-block .insertion-block__image {
      width: 70px; } }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile__title, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop__title, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv__title, .insertion .insertion-block .insertion-block__title {
  text-transform: uppercase;
  color: #8682BA;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding: 12px 0; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile__description, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop__description, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv__description, .insertion .insertion-block .insertion-block__description {
  color: #abacaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 12px 0;
  width: 80%;
  line-height: 20px; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile-pricewrapper .skyengapp-block-wrapper-mobile-pricewrapper__dollarsign, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop-pricewrapper .skyengapp-block-wrapper-desktop-pricewrapper__dollarsign, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv-pricewrapper .skyengapp-block-wrapper-tv-pricewrapper__dollarsign, .insertion .insertion-block .insertion-block-pricewrapper .insertion-block-pricewrapper__dollarsign {
  padding: 3px 0 0 0;
  color: #8682BA;
  font-size: 16px;
  font-weight: 500; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile-pricewrapper .skyengapp-block-wrapper-mobile-pricewrapper-pricepermonth, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop-pricewrapper .skyengapp-block-wrapper-desktop-pricewrapper-pricepermonth, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv-pricewrapper .skyengapp-block-wrapper-tv-pricewrapper-pricepermonth, .insertion .insertion-block .insertion-block-pricewrapper .insertion-block-pricewrapper-pricepermonth {
  color: #8682BA;
  font-size: 30px;
  font-weight: 500; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile-pricewrapper .skyengapp-block-wrapper-mobile-pricewrapper-pricepermonth .skyengapp-block-wrapper-mobile-pricewrapper-pricepermonth__month, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop-pricewrapper .skyengapp-block-wrapper-desktop-pricewrapper-pricepermonth .skyengapp-block-wrapper-desktop-pricewrapper-pricepermonth__month, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv-pricewrapper .skyengapp-block-wrapper-tv-pricewrapper-pricepermonth .skyengapp-block-wrapper-tv-pricewrapper-pricepermonth__month, .insertion .insertion-block .insertion-block-pricewrapper .insertion-block-pricewrapper-pricepermonth .insertion-block-pricewrapper-pricepermonth__month {
  color: #8682BA;
  font-size: 10px;
  font-weight: 400; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv {
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; }
  .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile:hover, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop:hover, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv:hover {
    background-color: #F7F7F6; }
  @media (min-width: 1000px) {
    .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv {
      width: 33%; } }

.insertion .insertion-block {
  flex-direction: column;
  padding: 10px;
  border-radius: 5px; }

.skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-mobile .skyengapp-block-wrapper-mobile-pricewrapper, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-desktop .skyengapp-block-wrapper-desktop-pricewrapper, .skyengapp .skyengapp-block .skyengapp-block-wrapper .skyengapp-block-wrapper-tv .skyengapp-block-wrapper-tv-pricewrapper, .insertion .insertion-block .insertion-block-pricewrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0; }

.skyengapp {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #8AA8DB;
  padding: 80px 0; }
  @media (min-width: 1000px) {
    .skyengapp {
      padding: 0 150px; } }
  .skyengapp .skyengapp-block {
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    @media (min-width: 1000px) {
      .skyengapp .skyengapp-block {
        width: auto; } }
    @media (min-width: 1000px) {
      .skyengapp .skyengapp-block .skyengapp-block-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center; } }
    .skyengapp .skyengapp-block .skyengapp-block__button {
      background-color: #3065FF;
      width: 50%;
      text-align: center;
      color: #FFFFFF;
      padding: 14px;
      border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
      margin: 20px 0; }
      @media (min-width: 1000px) {
        .skyengapp .skyengapp-block .skyengapp-block__button {
          width: 20%; } }

.insertion {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0; }
  .insertion .insertion-block {
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    width: 90%;
    border-radius: 5px; }
    @media (min-width: 1000px) {
      .insertion .insertion-block {
        width: 30%;
        padding: 30px; } }
    .insertion .insertion-block .insertion-block__close {
      width: 14px;
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer; }
    .insertion .insertion-block .insertion-block__confirmation {
      font-weight: 500;
      padding: 10px 0; }
    .insertion .insertion-block .insertion-block__button {
      background-color: #3065FF;
      width: 50%;
      text-align: center;
      color: #FFFFFF;
      padding: 14px;
      border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
      margin: 20px 0; }

/*# sourceMappingURL=styles.css.map */
